<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TODO</title>
  <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

<body>
  <div class="wrap">
    <header>
      <section class="hd1Wrap">
        <div class="inner">
          <div class="left">
            <nav class="menu1Box">
              <ul>
                <li><a href="#" class="c1">캐나다</a></li>
                <li><a href="#">태국</a></li>
                <li><a href="#">괌</a></li>
                <li><a href="#">이탈리아</a></li>
                <li><a href="#" class="c2">오세아니아</a></li>
              </ul>
            </nav>
          </div>
          <div class="right">
            <nav class="menu2Box">
              <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">서비스</a></li>
                <li><a href="#">네트워크</a></li>
                <li><a href="#">가이드시스템</a></li>
                <li><a href="#">고객센터</a></li>
              </ul>
            </nav>
            <article class="fontBox">
              <span class="tit">큰글씨</span>
              <button type="button" class="pBtn">+</button>
              <button type="button" class="mBtn" disabled="disabled">-</button>
            </article>
          </div>
        </div>
      </section>
      <section class="hd2Wrap">
        <div class="inner">
          <h1>Guide</h1>
          <div class="right">
            <nav class="menu3Box">
              <ul>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">로그인</a></li>
              </ul>
            </nav>
            <article class="searchBox">
              <input type="text" placeholder="검색"><button type="button">검색</button>
            </article>
          </div>
        </div>
      </section>
      <section class="hd3Wrap">
        <div class="inner">
          <div class="gnbArea">
            <div class="inner">
              <nav class="gnb">
                <ul>
                  <li>
                    <a href="#">수성</a>
                    <div class="d2Area">
                      <ul>
                        <li><a href="#">수성 서브1</a></li>
                        <li><a href="#">수성 서브2</a></li>
                        <li><a href="#">수성 서브3</a></li>
                        <li><a href="#">수성 서브4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">금성</a></li>
                  <li>
                    <a href="#">지구생태계<br>지구생태계</a>
                    <div class="d2Area">
                      <ul>
                        <li><a href="#">지구생태계 서브1</a></li>
                        <li><a href="#">지구생태계 서브2</a></li>
                        <li><a href="#">지구생태계 서브3</a></li>
                        <li><a href="#">지구생태계 서브4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">화성탐사</a></li>
                  <li><a href="#">목성</a></li>
                  <li><a href="#">토성</a></li>
                  <li><a href="#">천왕성</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </header>
    <main class="container">
      <section class="visWrap">
        <div class="inner">
          메인비주얼 영역
        </div>
      </section>
      <div class="inner">
        <section class="recWrap">
          <div class="left">
            <div class="recSlide">
              <ul>
                <li>
                  <article class="aBox">슬라이드1</article>
                </li>
                <!-- <li>
                  <article class="aBox">슬라이드2</article>
                </li>
                <li>
                  <article class="aBox">슬라이드3</article>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="right">
            <h2>추천하기</h2>
            <div class="recArea">
              <div class="left">
                <article class="aBox">내용1</article>
              </div>
              <div class="right">
                <article class="aBox">내용2</article>
                <article class="aBox">내용3</article>
              </div>
            </div>
          </div>
        </section>
        <section class="proWrap">
          <div class="titArea">
            <h2>상품 소개</h2>
            <a href="#">더보기</a>
          </div>
          <div class="proArea">
            <div class="proSlide">
              <ul>
                <li>
                  <article class="aBox">상품1</article>
                </li>
                <li>
                  <article class="aBox">상품2</article>
                </li>
                <li>
                  <article class="aBox">상품3</article>
                </li>
                <li>
                  <article class="aBox">상품4</article>
                </li>
                <li>
                  <article class="aBox">상품5</article>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="serWrap">
          <div class="titArea">
            <h2>서비스 소개</h2>
          </div>
          <div class="serArea">
            <ul class="col4Area">
              <li>
                <article class="aBox">서비스1</article>
              </li>
              <li>
                <article class="aBox">서비스2</article>
              </li>
              <li>
                <article class="aBox">서비스3</article>
              </li>
              <li>
                <article class="aBox">서비스4</article>
              </li>
              <li>
                <article class="aBox">서비스5</article>
              </li>
            </ul>
          </div>
          <div class="bnrArea">
            <ul>
              <li>
                <a href="#none" class="bnr icoL icoBg1">
                  <div class="txt">
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는</p>
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr icoR icoBg1">
                  <div class="txt">
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는  거예요. 주차가 걱정인가요? 안심번호 사용하는  거예요.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr">
                  <div class="ico">
                    <img src="../assets/images/image_0001_1024x1200.png" alt="">
                  </div>
                  <div class="txt">
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr">
                  <div class="txt">
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요. 주차가 걱정인가요? 안심번호 사용하는 거예요.</p>
                  </div>
                  <div class="ico">
                    <img src="../assets/images/image_0002_1024x1200.png" alt="">
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr arr">
                  <div class="txt">
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는</p>
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr arr">
                  <div class="txt">
                    <p class="exp">주차가 걱정인가요? 안심번호 사용하는 <strong>주차안심 서비스</strong>를 이용해보세요!</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#none" class="bnr">
                  <div class="txt">
                    <p class="tit"><strong>주차안심 서비스</strong>를 이용해보세요!</p>
                  </div>
                </a>
              </li>
            </ul>

          </div>
        </section>
        <div class="col2Area">
          <section class="notWrap">
            <div class="titArea">
              <h2>공지사항</h2>
            </div>
            <div class="rowArea">
              <ul class="dotList">
                <li>
                  <a href="#">가이드 작성 중입니다.</a>
                </li>
                <li>
                  <a href="#">가이드를 사용하실 분은 목적에 맞게 사용바랍니다.</a>
                </li>
                <li>
                  <a href="#">가이드 관련하여 의견주실 분은 내용을 참고하세요.</a>
                </li>
              </ul>
            </div>
          </section>
          <section class="cusWrap">
            <div class="titArea">
              <h2>고객센터</h2>
            </div>
            <div class="rowArea">
              <ul class="menuBox">
                <li>
                  <a href="#">문의하기</a>
                </li>
                <li>
                  <a href="#">자주하는 질문</a>
                </li>
                <li>
                  <a href="#">소비자포털</a>
                </li>
                <li>
                  <a href="#">신고하기</a>
                </li>
                <li>
                  <a href="#">구독하기</a>
                </li>
                <li>
                  <a href="#">서비스의뢰</a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>
    <aside class="asideWrap">
      <section class="as1Wrap">
        <nav>
          <ul>
            <li><a href="#">지구인</a></li>
            <li><a href="#">지구 환경</a></li>
            <li><a href="#">천왕성</a></li>
          </ul>
        </nav>
      </section>
      <section class="as2Wrap">
        <button type="button" class="topBtn">TOP</button>
      </section>
    </aside>
    <footer>
      <section class="ft1Wrap">
        <div class="inner">
          <nav class="fnb">
            <ul>
              <li><a href="#">회사정보</a></li>
              <li><a href="#">사이트정보</a></li>
              <li><a href="#">공유정보</a></li>
              <li><a href="#">대표정보</a></li>
              <li><a href="#">SNS</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="ft2Wrap">
        <div class="inner">
          <div class="col1Area">
            <nav class="fnb2">
              <li><a href="#"><strong>개인정어보처리방침</strong></a></li>
              <li><a href="#">고객권리안내문</a></li>
              <li><a href="#">보호금융상품등록부</a></li>
              <li><a href="#">가격공시</a></li>
              <li><a href="#">사이트맵</a></li>
            </nav>
            <div class="infoArea">
              <div class="r1Area">
                <ul>
                  <li>Li(주)</li>
                  <li>제작자 MetaSecond</li>
                  <li>사업자등록번호 000-00-00000</li>
                </ul>
              </div>
              <div class="r2Area">
                <p>(12345) 경기도 광주시 태봉로00번길 10000-0</p>
              </div>
              <div class="r3Area">
                <p>Copyright Li Co., Ltd. All right reserved.</p>
              </div>
            </div>
          </div>
          <div class="col2Area">
            <div class="infoArea">
              <div class="snsArea">
                <ul>
                  <li>kakao</li>
                  <li>facebook</li>
                  <li>instragram</li>
                </ul>
              </div>
              <div class="familyArea">
                <div>
                  <select>
                    <option>혐력회사1</option>
                    <option>혐력회사2</option>
                    <option>혐력회사3</option>
                    <option>혐력회사4</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </div>
  <script></script>
</body>

</html>