<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TODO</title>
  <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

<body>
  <div class="wrap">
    <header>
      <section class="bg8">
        <div class="inner rWrap">
          <div class="bg1">메뉴1</div>
          <div class="bg2">메뉴2</div>
        </div>
      </section>
      <section>
        <div class="inner rWrap">
          <div class="bg3">로고</div>
          <div class="bg4">검색</div>
        </div>
      </section>
      <section>
        <div class="inner">
          <ul class="rWrap_A">
            <li>메뉴1</li>
            <li>메뉴2</li>
            <li>메뉴3</li>
            <li>메뉴4</li>
            <li>메뉴5</li>
            <li>메뉴6</li>
            <li>메뉴7</li>
          </ul>
        </div>
      </section>
    </header>
    <main class="container">

    </main>
    <aside class="asideWrap">

    </aside>
    <footer>

    </footer>
  </div>
  <script></script>
</body>

</html>