// common template
.inner {
  width: 1200px;
  margin: 0 auto;
  @include respond-to(medium) {
    width: 100%;
  }
}

.dotList {
  &>li {
    display: block;
    position: relative;
    padding-left: 2rem;
    &::before {
      content:'';
      display: block;
      width: 5px; height: 5px;
      background-color: $colorB;
      border-radius: 5px;
      @include paArea($t: 0.5em, $l: 0.5rem);
    }
  }
}
.hypList {
  &>li {
    display: block;
    position: relative;
    padding-left: 2rem;
    &::before {
      content:'';
      display: block;
      width: 5px; height: 5px;
      background-color: $colorB;
      border-radius: 5px;
      @include paArea($t: 0.75rem, $l: 0.5rem);
    }
  }
}
.nodata {
  // nodata content
}
.titArea {
  @include dfWrap($g: 20px);
}
.bnr {
  @include biBox;
  flex-wrap: nowrap;
  height: 100%;
  .ico {
    @include dfWrap();
    width: 100px;
    // height: 100px;
    // border-radius: 50%;
    // overflow: hidden;
    flex-shrink: 0;
  }
  &.icoL::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    @include bgStyle;
    background-color: $colorG3;
    flex-shrink: 0;
  }
  &.icoL.icoBg1::before {
    background-image: url(../images/image_0007_1024x800.png);
  }
  &.icoR::after {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    @include bgStyle;
    background-color: $colorG3;
    flex-shrink: 0;
  }
  &.icoR.icoBg1::after {
    background-image: url(../images/image_0008_1440x1200.png);
  }
  &.arr::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid $colorG1;
    border-right: 1px solid $colorG1;
    transform: rotate(45deg) translateY(-50%);
    margin-top: 5px;
    flex-shrink: 0;
  }
}


header {
  .hd1Wrap {
    background-color: $colorG3;
    .inner {
      @include dfWrap;
      &>.right {
        @include dfWrap;
      }
    }
    .hnb1Box > ul {
      @include dfWrap;
      &>li+li {
        border-left: $colorW solid 1px;
      }
      a, button {
        height: 30px;
        color: $colorG1; font-size: 1.4rem;
        &.c1 {
          background-color: $colorP1;
          color: $colorW;
        }
        &.c2 {
          background-color: $colorG1;
          color: $colorW;
        }
      }
    }
    .hnb2Box > ul {
      @include dfWrap;
      &>li+li {
        position: relative;
        &::before {
          content:'';
          @include paArea($t: 50%, $y: -50%);
          width: 1px; height: 15px;
          background-color: $colorG2;
        }
      }
      a, button {
        height: 30px;
        color: $colorG1; font-size: 1.4rem;
      }
    }
    .fontBox {
      @include dfWrap($g: 5px);
      margin-left: 50px;
      font-size: 1.4rem;
      button {
        width: 18px; height: 18px;
        border: $colorB solid 1px;
        border-radius: 50%;
        &:disabled {
          border-color: $colorG1;
          color: $colorG1;
        }
      }
    }
  }
  .hd2Wrap {
    .inner {
      @include dfWrap;
      padding: 30px 0 0 0;
      &>.right {
        @include dfWrap;
      }
    }
    .hnb3Box > ul {
      @include dfWrap;
      &>li+li {
        position: relative;
        &::before {
          content:'';
          @include paArea($t: 50%, $y: -50%);
          width: 1px; height: 15px;
          background-color: $colorG2;
        }
      }
    }
    .searchBox {
      margin-left: 30px;
      position: relative;
      input {
        padding: 10px 50px 10px 20px;
        border:$colorG1 solid 1px;
        border-radius: 10px;
      }
      button {
        font-size: 0;
        width: 38px; height: 38px;
        @include paArea($t: 50%, $l: auto, $r: 10px, $y: -50%);
        @include bgStyle($s: 50%);
        background-image: url(../images/ico_search.svg)
      }
    }
  }
  .hd3Wrap {
    .gnbArea .gnb > ul {
      @include dfWrap($j: space-around, $g: 30px);
      &>li>a {
        height: 70px; min-width: 100px;
        font-size: 18px; font-weight: bold;
      }
      .d2Area {
        display: none;
      }
    }
  }
}

main {
  @include inSpace($s: 100px, $d: bottom);
  .visWrap {
    height: 200px;
    background-color: $colorP1;
    .inner {
      height: 100%;
      @include dfWrap($j: center);
    }
  }
  .recWrap {
    @include dfWrap($a: stretch, $g: 20px);
    @include inSpace($s: 50px);
    &>.left {
      flex: 1;
    }
    &>.right {
      flex: 2;
    }

    .aBox {
      @include biBox;
    }

    .recSlide {
      height: 100%;
      &>ul {
        height: 100%;
        &>li {
          height: 100%;
        }
      }
      .aBox {
        height: 100%;
      }
    }

    .recArea {
      @include dfWrap($a: stretch, $g: 20px);
      @include inSpace($s: 20px);
      .aBox {
        @include biBox;
        &+.aBox {
          @include inSpace($s: 20px);
        }
      }
      &>.left {
        flex: 1;
        .aBox {
          height: 100%;
        }
      }
      &>.right {
        flex: 1;
      }
    }
  }
  .proWrap {
    @include inSpace($s: 50px);
    background-color: $colorG3;
    padding: 50px 0;
    .proArea {
      @include inSpace($s: 20px);
    }

    .proSlide>ul {
      @include dfWrap($g: 20px);
      &>li {
        flex: 1;
      }
    }
    .aBox {
      @include biBox;
      background-color: $colorW;
    }
  }
  .serWrap {
    @include inSpace($s: 50px);
    .serArea {
      @include inSpace($s: 20px);
      .colList {
        @include colList($c: 3, $g: 10px);
      }
    }
    .aBox {
      @include biBox;
      border: none;
      background-color: $colorP3;
      height: 100%;
    }
    .bnrArea {
      @include inSpace($s: 50px);
      &>ul {
        @include colList($c: 2, $g: 20px);
      }
    }
  }

  .col2Area {
    @include colArea($c: 2, $g: 50px)
  }
  .notWrap {
    flex: 1;
    @include inSpace($s: 50px);
    .listArea {
      @include inSpace($s: 20px);
    }
    .dotList {
      @include colList($c: 1, $g: 10px);
    }
  }
  .cusWrap  {
    flex: 1;
    @include inSpace($s: 50px);
    .listArea {
      @include inSpace($s: 20px);
    }
    .menuBox {
      @include colList($c: 3, $g: 10px);
      @include biBox;
      padding: 10px 0;
      a {
        display: block;
        text-align: center;
      }
    }
  }
}

aside {
  position: fixed;
  bottom: 300px; right: 20px;
  .as2Wrap {
    text-align: center;
    .topBtn {
      width: 50px; height: 50px;
      background-color: $colorP2;
      border-radius: 50%
    }
  }
}

footer {
  .ft1Wrap {
    border-top: $colorG2 solid 2px;
    border-bottom: $colorG2 solid 1px;
  }

  .fnb1>ul {
    @include dfWrap;
    padding: 10px 0;
    &>li {
      flex: 1;
      border-right: $colorG3 solid 1px;
      &:first-child {
        border-left: $colorG3 solid 1px;
      }
    }
    a, button {
      height: 40px;
      color: $colorB; font-size: 1.6rem; font-weight: bold;
    }
  }
  .ft2Wrap {
    .inner {
      @include dfWrap($a: stretch, $g: 20px);
      @include inSpace($s: 50px);

      .fnb2 > ul {
        @include dfWrap($g: 20px);
      }

      .infoArea {
        @include inSpace($s: 30px);
        @include inSpace($s: 50px, $d: bottom);
        @include colArea($c: 1, $g: 10px);
        font-size: 1.4rem;
      }

      .snsArea > ul {
        @include dfWrap($g: 20px);
        a, button {
          @include dfWrap($j: center);
          width: 50px; height: 50px;
          background-color: $colorG2;
          border-radius: 50%;
        }
      }
    }
  }
}

